@import-normalize;
@import url(../../fonts/fonts.css);

a {
  color: inherit;
  text-decoration: inherit;
}

.App {
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}

.change-language {
  position: absolute;
  top: 0;
  right: 0;

  button {
    display: inline-flex;
    width: 25px;
    height: 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px grey;

    &.ru {
      background: url(../../assets/img/icons/flag-ru.png);
      background-size: cover;
    }

    &.en {
      background: url(../../assets/img/icons/flag-us.png);
      background-size: cover;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  background: #F7F7F8;
}

.app-menu {
  position: fixed;
  width: 218px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #FFF;
}

.app-content {
  flex: 1 1 auto;
  padding: 30px 30px 0;

  &__title {
    margin: 0 0 38px;
    font-size: 24px;
    font-weight: 700;
  }
}

.app-spinner {
  width: 100%;
  text-align: center;
}
