.table {
  color: #030229;

  &__row {
    display: grid;
    grid-auto-flow:column;
    grid-auto-columns: 1fr;
    justify-items: start;
    align-items: center;
    margin: 0 0 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align-last: left;
    background: #FFF;

    &_head {
      margin: 0 0 14px;
      padding: 0 15px;
      font-size: 12px;
      background: none;
    }

    &-highlight {
      padding: 5px 18px;
      border-radius: 33px;

      &_male {
        background: rgba(91, 147, 255, 0.1);
        color: rgba(91, 147, 255, 1);
      }
      &_female {
        background: rgba(255, 143, 107, 0.1);
        color: rgba(255, 143, 107, 1);
      }
      &_polygender {
        background: rgba(123, 200, 10, 0.1);
        color: rgba(123, 200, 10, 1);
      }
      &_bigender {
        background: rgba(178, 97, 132, 0.1);
        color: rgba(178, 97, 132, 1);
      }
      &_nonbinary {
        background: rgba(123, 20, 78, 0.1);
        color: rgba(123, 20, 78, 1);
      }
      &_genderfluid {
        background: rgba(74, 120, 103, 0.1);
        color: rgba(74, 120, 103, 1);
      }
      &_agender {
        background: rgba(189, 113, 105, 0.1);
        color: rgba(189, 113, 105, 1);
      }
      &_genderqueer {
        background: rgba(115, 93, 145, 0.1);
        color: rgba(115, 93, 145, 1);
      }
    }
  }
}
