.tree {
  &__node {
    $tree-node: &;
    $tree-node-name: #{$tree-node}-name;
    $tree-node-children: #{$tree-node}-children;

    $padding: 15px;
    $margin-bottom: 10px;
    $font-size: 14px;
    $tail-width: 2px;

    &-name {
      $tree-node-name: &;
      margin: 0 0 $margin-bottom;
      padding: $padding;
      padding-left: $padding * 2;
      border-radius: 10px;
      font-size: $font-size;
      font-weight: 400;
      text-align-last: left;
      background: #FFF;
      cursor: pointer;

      &::before {
        content: ' ';
        position: absolute;
        margin-left: calc(-#{$padding} - #{$font-size} / 2);
        width: $font-size;
        height: $font-size;
        line-height: $font-size;
        background: url(../../assets/img/icons/arrow-right.svg) center no-repeat;
        -webkit-transition: .3s;
        transition: .3s;
      }
    }

    #{$tree-node} {
      margin-left: $padding * 2;
      position: relative;

      animation-name: drop-down;
      animation-duration: .5s;

      &::before {
        content: ' ';
        display: block;
        position: absolute;
        margin-left: -($padding + $tail-width * 0.5);
        background-color: rgb(232 231 249);
        width: $padding + $tail-width * 0.5 - 5;
        height: $tail-width;
        top: calc(#{$padding} + #{$font-size} / 2);
      }

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        margin-left: -($padding + $tail-width * 0.5);
        background-color: rgb(232 231 249);
        width: $tail-width;
        height: calc(100% + $margin-bottom);
        top: 0;
      }

      &:last-child::after {
        width: $tail-width;
        height: calc(#{$padding} + #{$font-size} / 2);
      }

      display: none;
    }

    &_expanded {
      & > #{$tree-node-name} {
        &::before {
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }

      & > #{$tree-node-children} > #{$tree-node} {
        display: block;
      }
    }

    &_no-children {
      & > #{$tree-node-name} {
        cursor: auto !important;
        &::before {
          background: none !important;
        }
      }
    }

    .app-spinner {
      display: inline;

      .lds-ellipsis {
        position: absolute;
        height: $font-size;

        div {
          top: 0;
        }
      }
    }

    @keyframes drop-down {
      0%{
        margin-top: calc(-#{$padding} * 2 - #{$font-size});
      }
      100%{
        margin-top: 0;
      }
    }
  }
}
